body {
    background-color: #222;
}

img {
    transition: left 0.1s, top 0.1s;
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
}

img[alt="p"] {
    top: 10px;
    left: 10px;
}

img[alt="g"] {
    top: 200px;
    left: 300px;
}
